body{
    font-family: 'Comfortaa', serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0; 
}

main{
    background-color: #909090;
    display: flex;
    justify-content: center;
}